<div>
    <div class="jumbotron">
        <h1>Online Survey</h1>
        <p class="lead">You can create your personalized survey over here.</p>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                To start creating your survey click the link below.
            </p>
           <button class="btn btn-default" value="Create a survey" ng-click="redirect()">Click</button>
        </div>
        <div class="col-md-4">
            <h2>Take Survey</h2>
            <p>
                To take a survey click the link below.
            </p>
           <button class="btn btn-default" value="Create a survey" ng-click="redirecttotake()">Click</button>
        </div>
    </div>
</div>
